name: Deploy to EC2

on:
  push:
    branches:
      - master
  workflow_dispatch: # Manual "Deploy Now" button

jobs:
  deploy:
    if: github.event.pull_request.merged == true || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 52.66.60.53 >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i ~/.ssh/id_rsa root@52.66.60.53 << 'EOF'
            cd /root/rwfev2
            git pull origin master
            npm i --legacy-peer-deps
            npm run build
            pm2 restart 0
            pm2 reset 0
          EOF
